* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 350;
}


a:link {
    text-decoration: none;
}
h1 {
    font-size: 60px;
    display:block;
    
}
h2 {
    font-size: 50px;
    
}
h3 {
    font-size: 40px;

    
    
}
h4 {
    font-size: 30px;
 
    
    
}
h5 {
    font-size: 35px;

    
}
h6 {
    font-size: 20x;
    
}

.bold {
    font-weight: 400;
}

/*Button*/

button {
    background-color: tomato;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    border: none;
    
}
button:hover {
    background-color: rgb(255, 139, 119);
}

button a {
    color: white;
    font-weight: 700;
}

/* Icon */

.fa-file {
    color: white;
}

/*Header*/
#header {
    padding-left: 200px;
    padding-right: 200px;
    margin: 30px;
    text-align: center;
}

#header h6 {
    padding: 15px;
}

hr {
    text-align: center;
    margin:2px
    }

/*Features*/
#features {
    padding-left: 200px;
    padding-right: 200px;
    padding: 20px;
    text-align: center;
}

#features h5{
    text-align: center;

}

/*Features*/
#features .flex-box {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#features h5 {
    padding-bottom: 20px ;
}

#features h6 {
    padding-top: 20px;
}


.flex-box div {
    padding: 20px;
}
.flex-box div img {
    width: 225px;
    height: 175px;

}


/*Page Break*/

.page-break {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url("/projects/remock-SenouLynn/Pictures/page-break.jpg");
}

.page-break h3 {
    color: white;
}


#main-page {
    padding: 50px 200px 50px 200px;

}

.grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:20px;
}



.grid-2-left article img {
    width:100%;
}